.tripDetailsScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  height: 80%;
  width: 40%;
  min-width: 600px;
  top: 10%;
  left: 27%;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.tripDetailsList {
  margin-bottom: 20px;
  min-height: 300px;
  margin-top: 10px;
  justify-content: flex-start;
}

.backButton {
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}