.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.tripDetails {
  position: absolute;
  bottom: 19px;
  left: 75px;
  color: white;
  background: #28a745;
  border-color: #28a745;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 5000;
}

.backpack {
  position: absolute;
  top: 5px;
  left: 5px;
  max-height: 15%;
  max-width: 9%;
  z-index: 5000;
  width: auto
;
}

.settings {
  position: absolute;
  bottom: 15px;
  left: 15px;
  max-height: 8%;
  max-width: auto;
  z-index: 5000;
  cursor: pointer;
}